<table class="profile" summary="Profile information">
  <tr>
    <td>
      <%= @user.name %> <br />
      <%= @user.email %>
    </td>
    <td>
      <strong>Name</strong> <%=  @user.name %><br />
      <strong>URL</strong> <%= link_to user_path(@user), @user %>
    </td>
  </tr>

</table>